.todo-form {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c0bdc7;
  margin-bottom: 40px; }

.todo-form__title {
  margin: 0;
  padding: 10px 0;
  font-size: 40px;
  font-weight: 600;
  color: #34374b; }

.form__subtitle {
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #34374b; }

.form__input {
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #727272;
  color: #727272;
  box-sizing: border-box; }
  .form__input:focus {
    outline: none; }
  .form__input.form__input--invalid {
    border: 1px solid #eb4b57; }

.form__error {
  width: 100%;
  color: #eb4b57;
  margin-top: -30px;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px; }

.form__submit {
  background-color: #0099ff;
  min-width: 160px;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  outline: none;
  border: none; }
