.todo-info {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c0bdc7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }

.todo-info__header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative; }

.todo-info__header__remove {
  display: inline-block;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }

.todo-info__header__title {
  font-size: 24px;
  color: #007cce;
  line-height: 40px; }

.todo-info__body {
  border-top: 1px solid #c0bdc7;
  border-bottom: 1px solid #c0bdc7;
  padding: 10px;
  box-sizing: border-box; }

.todo-info__body__description {
  font-size: 18px; }

.todo-info__footer {
  padding: 10px; }

.todo-info__footer__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; }

.todo-info__name {
  display: inline-block;
  padding-right: 20px; }

.todo-info__value {
  display: inline-block;
  width: 100%;
  justify-self: stretch; }

.todo-info__footer__link {
  width: 100%;
  font-size: 18px;
  color: #ffffff;
  background-color: #0099ff;
  line-height: 40px;
  border-radius: 4px;
  text-align: center; }
