
$white: #ffffff;

$main-color: #0099ff;
$main-text-color: #34374b;
$main-bg-color: #c0bdc7;
$border-color: #dae0e7;
$input-color:#727272;
$error-color: #eb4b57;
$black-grey: #263238;
$title-color: #007cce;
